name: Generate Pug Runner

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
      - name: Generate snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: dist/snake.svg?palette=github-dark

      - name: Create pug overlay SVG
        run: |
          echo '
          <svg xmlns="http://www.w3.org/2000/svg" width="900" height="200">
            <image href="snake.svg" x="0" y="0" width="900" height="200"/>
            <image href="https://raw.githubusercontent.com/NicolasSDB/profile-assets/main/pug.gif"
                   width="40" height="40">
              <animateMotion dur="10s" repeatCount="indefinite"
                path="M 0 100 L 900 100"/>
            </animateMotion>
            </image>
          </svg>
          ' > dist/pug-run.svg

      - name: Publish to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
